@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    /* padding: 0.1rem; */
}
.header{
    width: 100%;
}
header{
    margin: 0 auto;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo a{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.nav_img{
    height: 5.875rem;
    width: 1.938rem;
}
.logo_text{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}
.nav_links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.nav_links a{
    color: #718096;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}
.nav_button{
    display: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
}
.nav_button:hover{
    background-color: #5254f8;
}
nav{
    display: none;
}
.hamburger_button{
    /* width: 1.5rem; */
    border: none;
    background: var(--background-color);
    padding: 0.5rem 0.9rem;
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (min-width: 768px){
    .nav_button, nav{
        display: block;
    }
    .hamburger_button{
        display: none;
    }
}
.nav_links a:hover{
    color: var(--link-color);
}
/* Header Editing Completed */
.mainbaner{
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
}
.left_div_link{
    color: var(--link-color);
    font-size: 1.15rem;
    font-weight: 600;
}
.left_div_heading{
    color: var(--text-color);
    font-size: 2.3rem;
    padding: 1.1rem;
}
.left_div_info{
    color:var(--gray);
    font-size: 1.13rem;
}
.left_div_button{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}
.baner_button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
}
.tour{
    background-color: var(--dark-gray);
}
.right_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_image{
    width: 80%;
    height: 40%;
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    /* height: 50vh; */
}
.right_div-image{
    width: 100%;
    height: 100%;
}
.left_div{
    flex-grow: 0;
    animation: left_slider 1s ease forwards;
    opacity: 0;
}
@media  screen and (min-width:768px) {
    .maincontainer{
        display: flex;
        justify-content: center;
    }
    .mainbaner{
        flex-direction: row;
        justify-content: center;
        justify-items: end;
        align-items: center;
        gap: 2px;
        /* height: 520px; */
    }
    .left_div{
        max-width: 50%;
        text-align: left;
    }
    .left_div_info{
        width: 78%;
    }
    .left_div_heading{
        padding-left: 0;
        font-size: 4vw;
    }
    .left_div_button{
        justify-content: start;
        padding-left: 0;
    }
    .right_image{
        width: 35vw;
        /* max-width: 40vw; */
        max-height: 500px;
    }
}
@keyframes left_slider {
    0%{
        opacity: 1;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@media  screen and (min-width:1060px) {
    .mainbaner{
        height: 520px;
    }
}

/* company block editing */
.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    animation: left_slider 1s ease forwards;
}
.company_group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}
@media screen and (min-width:640px) {
    .company_group{
        grid-template-columns: repeat(4,1fr);
    }
    .company_heading h2{
        font-size: 2.3rem;
        font-weight: bold;
    }
}
.company_group >div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    gap: 0.5rem;
}

.company_group img{
    height: 1.56rem;
}

/* advantage container */
.advantage_container{
    background: var(--light-gray);
    padding: 2.5rem 0;
}
.advantage_block{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.advantage_block >h2{
    font-size: 1.3rem;
}
.advantage_block > p{
    color: var(--gray);
    font-size: 1rem;
}
.advantage_grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    color: var(--background-color);
    gap: 2rem;
}
.advantage_card{
    display: flex;
    flex-direction: column;
    background: #15de33;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.6rem;
}
.advantage_image_block{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.advantage_image_block>img{
    width: 50%;
}
@media (min-width:768px) {
    .advantage_grid{
    grid-template-columns: repeat(2,1fr);
    }
}

/* review block */
.review{
    max-width: 1280px;
    margin: auto;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.review_block{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
}
.review_card{
    border-radius: 1rem;
    border: 1px solid var(--gray);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease;
}
.text_review{
    color: #555;
    font-size: 0.875rem;
}
.review_info > h2{
    font-size: 1rem;
    color: var(--primary-color);
}
.designation{
    font-size: 0.875rem;
    color: #777;
}
.review_card img{
    width: 5rem;
}
.review_card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.updates{
    background-color: var(--light-gray);
    padding: 2rem;
    /* border: 1px solid red; */
}
.update_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.updates_image{
    display: none;
}
.update_form h1{
    color: var(--primary-color);
}
.signup{
    color: var(--dark-gray);
}
.terms_con{
    color: var(--dark-gray);
}
.update_form input{
    width: 15rem;
    border-radius: 5px;
    border: 1px solid var(--gray);
    padding: 0.5rem;
}
.update_form button{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}
.update_form form{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.update_form button:hover{
    background-color: var(--link-color);
}
.terms_con a{
    text-decoration: underline;
    color: var(--link-color);
}
@media (max-width:335px) {
    .update_form form{
        display: flex;
        flex-direction: column;
    }
}